body {
  margin: 0;
  background: #C9DAF8;
  font-family: "Inria Serif", serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-btn {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.username {
  font-size: 28px;
  font-weight: 700;
}

.profile-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 2px;
  background: black;
  margin: 10px 0 20px 0;
}

/* EMAIL */
.email {
  font-size: 22px;
  margin-bottom: 40px;
}

/* USERNAME INPUT */
.username-box {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background: white;
  border: 2px solid black;
  border-radius: 40px;
  padding: 10px 18px;
}

.username-input {
  flex: 1;
  border: none;
  font-size: 20px;
  outline: none;
}

.clear-btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* CHANGE USERNAME */
.change-username-btn {
  display: block;
  margin: 25px auto;
  width: 70%;
  padding: 15px;
  background: #A12A1A;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
}

/* PROFILE CIRCLE */
.profile-circle {
  width: 200px;
  height: 200px;
  background: #E6DDFE;
  border: 2px solid black;
  border-radius: 50%;
  margin: 40px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DEFAULT PROFILE */
.default-profile-btn {
  display: block;
  margin: 10px auto 40px auto;
  width: 70%;
  padding: 15px;
  background: #A12A1A;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
}

/* BAN BUTTON */
.ban-btn {
  display: block;
  margin: 80px auto 20px auto;
  width: 70%;
  padding: 15px;
  background: #A12A1A;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}
